package view

templ Layout(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Shinx</title>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
		</head>
		<body>
			@content
		</body>
	</html>
}

templ Index() {
	<p>Hello World</p>
}
